// Primary colors
$red-color: hsl(0, 78%, 62%);
$cyan-color: hsl(180, 62%, 55%);
$orange-color: hsl(34, 97%, 64%);
$blue-color: hsl(212, 86%, 64%);

// Neutral colors
$very-dark-blue-color: hsl(234, 12%, 34%);
$grayish-blue-color: hsl(229, 6%, 66%);
$very-light-gray-color: hsl(0, 0%, 98%);
$white-color: hsl(0, 0%, 100%);

// Typography
$poppings-family-font: "Poppins", sans-serif;
$small-font-size: 0.938rem;
$regular-font-size: 1rem;
$big-font-size: 1.25rem;
$large-font-size: 1.5rem;
$very-light-weight-font: 200;
$light-weight-font: 400;
$bold-weight-font: 600;

// Base

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $very-light-gray-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
    padding-bottom: 20%;
    font-family: $poppings-family-font;

    header,
    main,
    footer {
        width: 19.5rem;
    }
}

main {
    section {
        display: grid;
        gap: 20px;
    }
}

footer {
    bottom: 0;
}

h1,
h2 {
    color: $very-dark-blue-color;
}

p {
    color: $grayish-blue-color;
}

// Styles
.header {
    &__title {
        font-size: $large-font-size;
        font-weight: $very-light-weight-font;
    }

    &__subtitle {
        font-weight: $bold-weight-font;
    }

    &__description {
        font-size: $regular-font-size;

    }
}

.features {
    &__card {
        background-color: $white-color;
        border-radius: 6px;
        overflow: hidden;
    }

    &__label {
        width: 100%;
        height: 3px;

        &--supervisor {
            background-color: $cyan-color;
        }

        &--team-builder {
            background-color: $red-color;
        }

        &--karma {
            background-color: $orange-color;
        }

        &--calculator {
            background-color: $blue-color;
        }
    }

    &__content {
        padding: 26px 28px;
    }

    &__title {
        font-size: $big-font-size;
    }

    &__description {
        font-size: $small-font-size;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}